/*FOR DEVELOPMENT ONLY*/

/*.debugger {
	border: 1px solid red;
}*/

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* ************************************************************  */


/*  BANNER   */

#header {
	background-color: #FFFF00;
	width:100%;
}

#banner {
	border: 3px solid #FFFF00;
	width: 100%;
	min-width: 900px;
	height:160px;
	background-color: #FFFF00;
	display:table;
	box-shadow:4px 4px 15px black;

}
#logo-container {
	height:125px;
	width:300px;
	display:table-cell;
	vertical-align: middle;
}
#logo-container img{
	height:130px;
	width: 130px;
	margin-left:175px;
}

#banner-title{
	display:table-cell;
	vertical-align: middle;
	height:125px;
}

#banner-title span:nth-child(1) {
	font-family: 'Mistral';
	text-shadow: 1px 1px #5C5C5C;
	font-size:80px;
	margin-left: 175px;
}

#banner-title span:nth-child(3) {
	margin-top:0%;
	font-family: 'Mistral';
	font-size: 35px;
	margin-left:175px;
	margin-top: 0;
}
/*SIDEBAR AND CONTENT*/

#sidebar-content-container {
	display:table;
	width: 100%;
	height:600px;
}

/*SIDERBAR*/
#sidebar{
	width: 150px;
	display:table-cell;
	height:100%;
	padding-top:-20px;
}

#sidebar-buttons: {
	top:0;
}

#sidebar a{
	color:#000000;
   	text-decoration: none;
   	font-size: 0.6em;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#sidebar a:hover {
	background-color: #04b300;		
	color: #FFF;
	text-decoration: none;
}

#sidebar a:visited {
	font-size: 30px;
	text-decoration:none;
	color:#000000;
}


.sidebar-item {
	text-align:center;
	margin:8px;
	padding:5px;
	margin-left:30px;
	margin-top:0px;
	width:140px;
	background-color: #FFFF00;
	box-shadow: 3px 1px 1px black;
	text-decoration: none;
}

.sidebar-item:hover {
	background-color: #04b300;		
	color: #FFF;
	text-decoration: none;
}


/* CONTENT */

#content-container {
	display:table-cell;
	overflow-y:auto;
	padding-top:30px;
	padding-bottom:10px;

}

#content {
	border:1px solid #676767;
	
	background-color: #F1F1F1;
	padding:15px;
	width:85%;
	min-width:800px;
	margin: 0 auto;
	font-family: Arial, Helveltica, sans-serif;
	box-shadow: 5px 5px 10px black;
}

#content h2{
	margin-left:50px;
}

#content div img {
	max-width: 800px;
}

.br25 {
	border-radius: 25px;
}


#content a:visited {
	color: black;
}

#content a:hover {
	color:blue;
}

.menu-link:hover {
	color: blue;
	font-weight:bolder;
}

.menu-link {
	color:black;
	font-weight:bold;
}

.top-content-pic-container {
	text-align: center;
}

.video-list li, {
	list-style-type:none;
}


/*SLIDESHOW */

#slideshow{
    margin:0 auto;
    width:600px;
    height:400px;
    overflow:hidden;
    position: relative;
}

#slideshow img {
	width:600px;
}

#slideshow ul{
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
}

#slideshow li{
    float:left;
}

#slideshow a:hover{
    background: rgba(0,0,0,0.8);
    border-color: #DDDDDD;
    color:#DDDDDD;
}

#slideshow a:active{
    background: #990;
}

.slideshow-prev, .slideshow-next{
    position: absolute;
    top:180px;
    font-size: 30px;
    text-decoration: none;
    color:#FF6568;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    z-index:2;
}

.slideshow-prev{
    left:0px;
    border-left: 3px solid #fff;
}

.slideshow-next{
    right:0px;
    border-right: 3px solid #fff;
}


#comments {
	padding:1%;
	margin-top: 20px;
	height:450px;
	overflow-y: auto;
	width:95%;
}

#comments div, #comments h4{
	margin-left:10%;
	
}

#comments p{
	background-color: white;
}

#comments span {
	text-align:right;
	color:#8E0000;
	font-family:Arial, Helveltica, sans-serif;
	left:0;
}












/*  FOOTER  */
#footer {
	/*background-color:#C0C0C0;*/
	height:100px;
	width: 100%;
	min-width: 900px;
	display: block;
	margin-top: 100px;
}

#footer-bottom{
	position: absolute;
	background-color: #F1F1F1;
	/*color: white;*/
	bottom: 0;
	text-align:center;
	height: 100px;
	min-width: 900px;
	width: 100%;
}

#footer-bottom p{
	margin-top: 38px;
	font-size: 12px;
}

#footer a{
	color: #7578D5;

}

#footer a:visited{
	text-decoration: none;
}
